@font-face
  font-family: Ailerons-Regular
  src: url("Ailerons/Ailerons-Regular.otf") format("opentype")

@import "all.min.css"
@import "./SourceSansPro/stylesheet.css"
@import "View"
html, body, #root, #App
  height: 100%

body
  overflow-x: hidden


#App
  .fa-cog, .fa-sign-out-alt
    margin-left: 20px
    display: block
    font-size: 27px
    outline: none
  overflow-x: hidden
  padding-bottom: 20px
  background-color: #141e27
  min-width: 1000px
  //#6feb93 - зеленый
  .navbar
    background-color: unset !important

    .nav-item a
      color: white

    .navbar-brand
      font-family: Ailerons-Regular, sans-serif
      font-size: 40px
      color: #6feb93
      padding-left: 12px
      display: flex
      align-items: center
      text-decoration: none !important

  .title
    color: white
    font-family: 'Source Sans Pro', sans-serif
    font-size: 30px

  .image-wrapper
    width: 50px
    height: 50px
    overflow: hidden
    justify-content: center
    align-items: center
    border-radius: 100%

    img
      height: 100%

  .people-list
    border: 2px solid #6feb93
    position: relative
    padding: 10px

    .add-user
      color: white

      .fa-user-plus
        height: 50px
        width: 50px
        background: #203140
        display: flex
        justify-content: center
        align-items: center
        border-radius: 50%

    &:before
      position: absolute
      content: ''
      height: 2px
      width: 50px
      top: -2px
      right: 20px
      background: #141e27

    .p-name
      margin: 0
      color: white
      font-family: 'Source Sans Pro', sans-serif
      font-size: 16px
      text-transform: uppercase

    .p-status
      margin: 0
      color: white
      font-family: 'Source Sans Pro', sans-serif
      font-size: 14px
      text-transform: uppercase

      .status
        padding-left: 16px
        position: relative
      .active
        &:after
          position: absolute
          content: ''
          width: 8px
          height: 8px
          top: 5px
          left: 0
          background: #6feb93
          border-radius: 50%
      .disabled
        &:after
          position: absolute
          content: ''
          width: 8px
          height: 8px
          top: 5px
          left: 0
          background: #f9c132
          border-radius: 50%
    .p-card
      margin: 10px 0
      cursor: pointer

    .p-card:first-child
      margin: 0

    .p-card:last-child
      margin-bottom: 0

    .p-content
      display: flex

    .p-info
      margin-left: 15px
      display: flex
      flex-direction: column
      justify-content: center

  .user-content
    .name
      color: white
      font-family: 'Source Sans Pro', sans-serif
      font-size: 30px

    .status-content
      font-size: 14px
      color: white
      font-family: 'Source Sans Pro', sans-serif
      position: relative
      padding-left: 16px
      text-transform: uppercase

      p
        margin-bottom: 12px

      &:after
        position: absolute
        content: ''
        width: 8px
        height: 8px
        top: 6px
        left: 0
        background: #6feb93
        border-radius: 50%

    .buttons-content
      margin-bottom: 10px

      button
        margin-right: 10px !important
        border-radius: 0 !important
        font-family: 'Source Sans Pro', sans-serif
        text-transform: uppercase

    .photos
      display: flex

      .photo
        width: 200px
        height: 200px
        display: flex
        flex-direction: column
        align-items: center
        overflow: hidden
        margin: 0 5px
        position: relative
        border: 1px solid #6feb93
        .photo-hover
          width: 100%
          height: 100%
          visibility: hidden
          position: absolute
          top: 0
          left: 0
          opacity: 0
          transition: 0.3s opacity
          background: rgba(41, 41, 41, 0.98)
        &:hover
          .photo-hover
            visibility: visible
            opacity: 1

      .photo:first-child
        margin-left: 0

      img
        height: 100%

      .add-photo
        width: 100%
        height: 100%
        border: 1px solid #3568af
        position: relative
        cursor: pointer
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        button
          border-radius: 0
          margin: 5px
          width: 101px
          font-family: 'Source Sans Pro', sans-serif
          text-transform: uppercase
.reg-modal
  max-width: 350px
  button
    border-radius: 0
  .close
    color: white
  .modal-content
    border-radius: 0
    border: none
  .modal-header
    font-family: 'Source Sans Pro', sans-serif
    text-transform: uppercase
    background: #141e27
    border-radius: 0
    color: white
    border: none
  .modal-body
    background: #16222df7
    padding: 1rem 1rem 0 1rem
  .modal-footer
    font-family: 'Source Sans Pro', sans-serif
    text-transform: uppercase
    background: #141e27
    border-radius: 0
    color: white
    border: none
    margin: 0 -16px
  .form-field
    width: 100%
    border: 1px solid #047afb
    background: #141e27
    outline: none
    color: white
    padding: 2px 5px
    font-family: 'Source Sans Pro', sans-serif
    margin-bottom: 10px
  .form-label
    color: white
    font-family: 'Source Sans Pro', sans-serif
    font-size: 14px
  .form-error
    color: #c12318
    font-size: 14px
    font-family: 'Source Sans Pro', sans-serif
    margin-top: -5px
    display: block
.message
  font-size: 30px
  color: #324a61
  font-family: 'Source Sans Pro', sans-serif
  text-transform: uppercase
  font-weight: 900

.cam-image
  width: 100%
  margin-bottom: 16px
  position: relative

.settings
  .input-wrapper
    width: 100%
  .custom-dropdown
    margin-bottom: 10px
    color: white
    font-family: 'Source Sans Pro', sans-serif
    text-transform: uppercase
  .custom-checkbox
    margin-bottom: 10px
    color: white
    font-family: 'Source Sans Pro', sans-serif
    text-transform: uppercase
    label
      margin-bottom: 0
      margin-right: 10px
  position: relative
  z-index: 1000
  width: 400px
  padding: 0 10px
  .field-wrapper
    width: 100%
    input
      width: inherit
      border: 1px solid #047afb
      background: #141e27
      outline: none
      color: white
      padding: 5px 12px
      font-family: 'Source Sans Pro', sans-serif
      margin-bottom: 10px
    label
      color: white
      font-family: 'Source Sans Pro', sans-serif
      text-transform: uppercase

  button
    font-family: 'Source Sans Pro', sans-serif
    text-transform: uppercase
    border-radius: 0


  .rw-widget-container
    border-radius: 0
    border: 1px solid #047afb !important
    background: #141e27
    box-shadow: none !important
    text-transform: uppercase
    font-family: 'Source Sans Pro', sans-serif
    .rw-input
      color: white
      background: #141e27

    .rw-select
      background: #141e27
      color: white


  .rw-popup
    border-top-right-radius: 0
    border-top-left-radius: 0
    border-bottom-right-radius: 0
    border-bottom-left-radius: 0
    background: #141e27
    border: 1px solid #047afb
    ul
      .rw-state-focus
        background: #1b2834
        border: 1px solid #1b2834
        color: white
      li
        color: white
        font-family: 'Source Sans Pro', sans-serif
        text-transform: uppercase
        &:hover
          background: #1b2834
          border: 1px solid #1b2834

.modal
  z-index: 10000 !important






















