.login
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  background: #131d26
  .view
    padding: 10px
    border: 2px solid #6feb93
    position: relative
    width: 450px
    .success
      border-color: #ffc800 !important
      .status
        background: #ffc800 !important
        color: black
    &:before
      position: absolute
      content: ''
      top: -2px
      right: 20px
      height: 4px
      background: #131d26
      width: 40px
    .cam
      height: 450px
      display: flex
      justify-content: center
      align-items: center
      overflow: hidden
      position: relative
      img
        height: 100%
      .auth-border
        position: absolute
        content: ''
        width: 250px
        height: 250px
        border: 2px solid red
        top: 50%
        margin-top: -125px
        left: 50%
        margin-left: -125px
        .status
          position: absolute
          font-size: 20px
          font-family: Ailerons-Regular, sans-serif
          background: red
          color: rgba(0, 0, 0, 0.98)
          padding: 3px
          right: -2px
          top: -38px




  .wrapper
    .logo
      font-size: 40px
      color: #6feb93
      font-family: Ailerons-Regular, sans-serif
      margin-left: -8px
      display: flex
      align-items: center
      .fa-user-cog
        font-size: 26px
        display: block
        margin-left: 20px
        color: #037afb
